/* Just to make the demo easier to work with. */

:root {
	--spacing: 1em;
}

body {
	/* font-family: 'Times New Roman', Times, serif; */
	font-family: 'Lora', serif;
	font-size:11px;
	font-weight: bold;
	background-color: #15252d;
    color: white;
}
h1{
	padding-left: 8px;	
	font-family: 'Lora', serif;
	font-size:17px;
	font-weight: 900;
}

p{
	padding-left: 8px;	
}

img{
	width: 18vw;
	position: absolute;
}

.text-formatting{
	/* font-family: 'Times New Roman', Times, serif; */
	font-size: 15px;
	font-weight: 100;
	line-height: 21px;
	top:20px;
	position: absolute;
}

.showItem{
	top:0;
}
  
  .zoom:hover {
	transform: scale(7.0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
	transition: transform .3s; /* Animation */
  }

  .stoptextfurtherin{
	padding-left: 8px;
	text-decoration: underline;
	font-weight: bolder;
 }

 .datetextfurtherin{
	padding-left: 8px;
	text-decoration: underline;
	font-weight: bolder;
	padding-top: -90px;
 }
 
  button {
	position: relative;
	padding: 2px -20px;
	font-family: 'Lora', serif;
	font-size:13px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	color: white;
  }
  
  button::after {
	content: '';
	position: absolute;
	top: 50%;
	right: -30px; /* Adjust this value to change the distance of the circle from the button */
	transform: translateY(-50%);
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: transparent;
	/* border: 2px solid #f1f1f1; */
	transition: background-color 0.3s, border-color 0.3s;
  }
  
  button:hover::after {
	background-color: #f1f1f1;
	border-color: #f1f1f1;
  }

  .alldatetext{
	margin-left:200px;
	margin-top: -407px;
  }