/* Just to make the demo easier to work with. */

:root {
	--spacing: 1em;
}

body {
	/* font-family: 'Times New Roman', Times, serif; */
	/* font-family: 'Lora', serif; */
	font-family: 'Roboto Mono', monospace;
	font-size:11px;
	font-weight: bold;
	background-color: #284452;
    color: white;
	margin-top: -10px;
}

h2{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size:100px;
	margin-top: -115px;
	
}

p{
	padding-left: 8px;	
}

img{
	width: 13vw;
	position: absolute;
}

.text-formatting{

	font-size: 15px;
	/* font-weight: 100; */
	line-height: 23px;
	top:20px;
	/* position: absolute; */
}

.showItem{
	top:0;
}
  
  .zoom:hover {
	transform: scale(5.0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
	transition: transform .3s; /* Animation */
  }

  .stoptextfurtherin{
	padding-left: 8px;
	text-decoration: underline;
	font-weight: bolder;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	/* padding-top: 380px; */
	po
 }

 .datetextfurtherin{
	padding-left: 8px;
	text-decoration: underline;
	font-weight: bolder;
	padding-top: 1px;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
 }

 
  button {
	position: relative;
	padding: 2px -20px;
	font-family: 'Roboto Mono', monospace;
	font-size:13px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	line-height: 18px;
	color: white;
  }
  a{
	position:absolute;
	margin-top: 55vh;
	font-size:13px;
	color: white;
	border-color: aliceblue;
	border-radius: 2px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	padding-left: 8px;
  }
  a:hover{
	border:1px solid rgb(255, 255, 255);  
	padding: 10px 10px;
	text-align: center;
	transition: border-width 0.6s linear;
   }
  button::after {
	content: '';
	position: absolute;
	top: 50%;
	right: -30px; /* Adjust this value to change the distance of the circle from the button */
	transform: translateY(-50%);
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: transparent;
	/* border: 2px solid #f1f1f1; */
	transition: background-color 0.3s, border-color 0.3s;
  }
  
  button:hover::after {
	background-color: #f1f1f1;
	border-color: #f1f1f1;
  }

  .alldatetext{
	margin-left:210px;
	margin-top: -369px;
	font-family: 'Roboto Mono', monospace;
	position: sticky;
  }

